<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= set.name %> Details</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <%- include('partials/navbar', {page: ""}) %>
    <div class="container mx-auto mt-4 text-center">
      <div class="hero bg-base-200 rounded-md p-8">
        <h1 class="text-4xl font-bold mb-4" style="margin-bottom: 100px">
          <%= set.name %> Details
        </h1>
        <p>
          Below, you will find detailed information about the set: <%= set.name
          %>
        </p>
      </div>
    </div>
    <div class="container mx-auto text-center">
      <div class="set-info">
        <img
          src="<%= set.img_url %>"
          alt="<%= set.name %>"
          class="mx-auto mb-4"
        />
        <p>Set Name: <%= set.name %></p>
        <p>Year: <%= set.year %></p>
        <p>Theme: <%= set.theme %></p>
        <p>Number of Parts: <%= set.num_parts %></p>
        <button
          onclick="history.back(); return false;"
          class="btn btn-primary mt-4"
        >
          Return to Main
        </button>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          fetch("https://api.quotable.io/random")
            .then((response) => response.json())
            .then((data) => {
              const quoteElement = document.createElement("div");
              quoteElement.innerHTML = `<p>${data.content}</p><p>- ${data.author}</p>`;
              document.body.appendChild(quoteElement);
            });
        });
      </script>
    </div>
  </body>
</html>
